* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html {
  font-size: 16px;
}

body {
  background-color: azure;
}


/* ==== Nav bar ==== */

body nav {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5rem;
  width: 100%;
  min-height: 2.5rem;
  background-color: dodgerblue;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

/* #homepage-link {
  text-decoration: none;
  color: rgb(243, 154, 53);
} */

#homepage-link:visited {
  color: rgb(243, 154, 53);
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-left: 2.25rem;
}

nav ul li a, #homepage-link {
  color: rgb(243, 154, 53);
  text-decoration: none;
  transition: all 0.3s linear;
}

nav ul li a:hover, #homepage-link:hover {
  color: dimgray;
  text-decoration: underline;
}


/* ==== Main ==== */
main {
  position: relative;
  top: 2.5rem;
}

.banner {
  max-width: 80%;
  min-height: 300px;
  margin: 0 auto;
  background-color: lightsteelblue;
}

.banner header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  /* padding: 0.5rem 0; */
}

main .banner img {
  max-width: 300px;
  border-radius: 50%;
}

.text-container {
  margin-left: 1.75rem;
}

main h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 3rem;
}

main h2 {
  font-family: 'Noto Serif', serif;
  font-size: 2.25rem;
}


/* ==== Projects ==== */
.projects {
  max-width: 80%;
  min-height: 800px;
  margin: 3rem auto;
  padding: 2rem 0;
  background-color: hsl(194, 70%, 40%);
}

.proj-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  /* flex: 0 1 350px; */
}

.project {
  background-color: hsl(22, 65%, 35%);
  margin-left: 1.25rem;
  /* max-width: 450px; */
  width: 450px;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
}

.project h3 {
  max-width: 60%;
  margin: 0 auto;
}

.image-container {
  max-width: 300px;
  height: 300px;
  margin: 1rem auto;
}

.image-container img {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  object-position: center;
  object-fit: cover;
}

.image-container #fotomatic {
  object-position: left;
}

.projects .button-container {
  max-width: 100%;
  height: auto;
  margin-top: 10rem;
}

.projects .button-container button {
  display: block;
  width: 25%;
  border-radius: 20px;
  font-size: 1.25rem;
  font-family: 'Noto Sans Mono', monospace;
  background-color: hsl(120, 63%, 39%);
  color: hsl(0, 100%, 0%);
  margin: 0 auto;
  padding: 1.25em 2.5em;
  transition: all 0.2s ease-in;
}

.projects .button-container button:hover {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.925em 2.5em;
  background-color: hsl(120, 50%, 50%);
}

.projects .button-container button:active {
  background-color: hsl(120, 63%, 70%);
}

.button-container a {
  text-decoration: none;
  color: hsl(0, 100%, 0%);
}

/* ==== Footer ==== */
footer {
  /* position: relative;
  bottom: 0px; */
  margin-top: 200px;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

footer ul li {
  margin-left: 1rem;
}